# phpstan.neon
parameters:
  level: 5
  paths:
    - app
    - routes
    - database
  bootstrapFiles:
    - vendor/autoload.php
  ignoreErrors:
    - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Authenticatable::.*#'
    - '#Access to an undefined property App\\Models\\.*#'


